{% extends 'base.html' %}
{% block content %}


<div>
<ul class="list-group">
    <div style="width: 400px; margin-bottom: 10px; margin-top: 10px; padding: 0;">
    <h1>Rooms</h1>
    <P>Choose a room to enter or create a new room.</P>
    </div>
    {% for room in rooms %}
       <li class="list-group-item d-flex justify-content-between align-items-center">
    {{ room.name }}
       <a href="{{ url_for('enter', room_uid=room.uid, name=room.name) }}">
           <button class="btn btn-light">{{ unread_messages }} </button>
            </a>

  </li>
    {% endfor %}
</ul>
<div style="width: 20px; margin-top: 20px; padding: 0;">
    <a href="{{ url_for('create') }}"><button class="btn btn-primary" style="width: 150px;">Create a new room</button></a>
    </div>
</div>

{% endblock %}